<div class="modal fade" tabindex="0" id="_<%=service.id%>_<%=method.id%>">
	<div class="modal-dialog">
		<div class="modal-content modal-content-with-label">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<% include method-badge %>
					/<%=service.name%>
					<span class="label label-<%=method.statusClass%> status-label">Status: <%=method.desc.status%></span>
				</h4>
				<% if (method.isDeprecated) { %>
					<br/>
					<div class="alert alert-danger">
						<p><strong>Deprecated:</strong> please don't use this service!</p>
					</div>
				<% } %>
			</div>
			<div class="modal-body">

				<div class="alert alert-info">
					<p><%=method.desc.desc%></p>
				</div>
				<% if (method.security.length > 1) { %>
				<div class="security-info">
					Security: <%=method.security%>
				</div>
				<% } %>
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#_<%=service.id%>_<%=method.id%>_request" data-toggle="tab">
							Request
						</a>
					</li>
					<li>
						<a href="#_<%=service.id%>_<%=method.id%>_response" data-toggle="tab">
							Response
						</a>
					</li>
					<li>
						<a href="#_<%=service.id%>_<%=method.id%>_mock" data-toggle="tab">
							Mock
						</a>
					</li>
				</ul>
				<div class="tab-content">

					<% var request = method.desc.request%>

					<div class="tab-pane active" id="_<%=service.id%>_<%=method.id%>_request">
						<%
							var itemsObj =  (request ? request.uri : undefined);
							var itemsTitle =  'URI Parameters';
							if (itemsObj) {
								var items =  request.uri.parameters;
							}
						%>
						<% include parameter-desc %>

						<%
						var itemsObj =  (request ? request.query : undefined);
						var itemsTitle =  'Query Parameters';
						if (itemsObj) {
							var items =  request.query.parameters;
						}
						%>
						<% include parameter-desc %>

						<% if (request && request.body) { %>
							<h3>Body</h3>
							<p><strong>Type: <%=request.body.type%></strong></p>

								<%
									var itemsObj =  request.body;
									var itemsTitle =  'Form Parameters';
									if (itemsObj) {
										var items =  request.body.parameters;
									}
								%>
								<% include parameter-desc %>
						<% } %>

						<% if (request && request.schema && request.schema.url) { %>
						<p><strong>Type: <%=request.schema.type%></strong></p>
						<p>
							<strong>Schema: </strong>
							<a target="_blank" href="<%=request.schema.url%>">Open in new tab</a>
						</p>
						<% } %>

						<% if (request && request.schema && request.schema.urlFile) { %>
						<p>
							<strong>Schema File: </strong>
							<a target="_blank" href="<%=request.schema.urlFile%>">Open file in new tab</a>
						</p>
						<% } %>
					</div>

					<% var response = method.desc.response%>
					<div class="tab-pane" id="_<%=service.id%>_<%=method.id%>_response">
						<% if (response && response.statusCode) { %>
							<h2>
								HTTP status code
								<a href="http://httpstatus.es/<%=response.statusCode%>" target="_blank">
									<%=response.statusCode%>
								</a>
							</h2>
						<% } %>

						<% if (response && response.schema && response.schema.url) { %>
						<p><strong>Type: <%=response.schema.type%></strong></p>
						<p>
							<strong>Schema: </strong>
							<a target="_blank" href="<%=response.schema.url%>">Open in new tab</a>
						</p>
						<% } %>

						<% if (response && response.schema && response.schema.urlFile) { %>
						<p>
							<strong>Schema File: </strong>
							<a target="_blank" href="<%=response.schema.urlFile%>">Open file in new tab</a>
						</p>
						<% } %>
					</div>
					<div class="tab-pane" id="_<%=service.id%>_<%=method.id%>_mock">
						<% var urlMock = urlBase + urlPath + method.pathCleaned;%>
						<h3>Url:</h3>
						<p>
							<a href="<%=urlMock%>">
								<%=urlMock%>
							</a>
						</p>
						<div class="form-group">
							<label for="<%=service.id%><%=method.id%>_mockdown">
								Choose an expected response:
							</label>
                            <% for(var m=0; m<method.availableMockResponses.length; m++) { %>
                            	<% var mock = method.availableMockResponses[m]; %>
                            	<% var checked = mock.isSelected ? 'checked' : ''; %>
                            	<%
                            		var label = '';
                            		if (mock.isValidated) {
                            			if (mock.isValid) {
                            				label = '<span class="label label-success">Valid</span>';
                            			} else {
                            				label = '<span class="label label-danger">Invalid (' + mock.inValidCounter + ')</span>';
                            			}
                            		}
                            	%>
                            	<div class="radio">
                                	<label>
                                		<input
                                			class="js-change-response-data"
                                			data-path="<%=method.mockPath%>"
                                			type="radio" <%-checked%>
                                			name="<%=service.id%><%=method.id%>_mockdown"
                                			id="<%=service.id%><%=method.id%><%=m%>"
                                			value="<%=mock.name%>"
                                		/>
                                		<%-label%>
                                		<%=mock.name%>
                                	</label>
                                	&nbsp;<a target="_blank" href="view-source:<%=urlBase%>/view/response?path=<%=encodeURIComponent(method.basePath);%>&method=<%=method.id%>&expected=<%=mock.name%>">preview</a>
                                	<% if (mock.name.search(/error/) < 0) { %>
										<button
											class="btn btn-primary btn-xs pull-right js-validate-single"
											href="#"
											data-path="<%=method.basePath%>"
											data-method="<%=method.id%>"
											data-expected="<%=mock.name%>"
										>
											Validate
										</button>
                                	<% }  %>
                                </div>
                            <% } %>
							<!--select
									class="form-control js-change-response-data"
									data-path="<%=method.mockPath%>"
									name="<%=service.id%><%=method.id%>_mockdown"
								>
								<% for(var m=0; m<method.availableMockResponses.length; m++) { %>
									<% var mock = method.availableMockResponses[m]; %>
									<option <%=mock.selected%> value="<%=mock.name%>"><%=mock.name%></option>
								<% } %>
							</select-->
						</div>
						<!--h3>Mock preview</h3>
						<ul class="nav nav-pills">
							<% for(var m=0; m<method.availableMockResponses.length; m++) { %>
								<% var mock = method.availableMockResponses[m]; %>
								<li>
									<a href="#_<%=service.id%><%=method.id%>_mock_<%=mock.name%>" data-toggle="tab" data-load-code-url="<%=mock.path%>">
										<%=mock.name%>
									</a>
								</li>
							<% } %>
						</ul>
						<div class="tab-content no-style">
							<% for(var m=0; m<method.availableMockResponses.length; m++) { %>
								<% var mock = method.availableMockResponses[m]; %>
								<div class="tab-pane" id="_<%=service.id%><%=method.id%>_mock_<%=mock.name%>">
									<pre>
										<code></code>
									</pre>
								</div>
							<% } %>
						</div-->
					</div>

				</div>
			</div>
		</div>
	</div>
</div>